<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {%block title%}{%endblock%}
        </title>
        <link rel="stylesheet" href="/pizzashop/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/pizzashop/public/css/pizzashop_main.css">
    </head>
    <body>
        <div class="container">
            {%block navigation%}
            {%endblock%}
            <div class="row">
                {%block content%}
                {%endblock%}
            </div><!--end of content-->
        </div><!--end of container-->
    </body>
</html>
