<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/pizzashop/public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default row">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/pizzashop/menu/showall/">Menu</a></li>
                    {% if session.user is defined %}
                    <li><a href="/pizzashop/order/go/">Bestel</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if session.user is not defined %}
                    <li><a href="/pizzashop/auth/go/">Log in</a></li>
                {% else %}
                    {% if session.user.admin == 1 %}
                    <li><a href="/pizzashop/admin/go/">Beheer</a></li>
                    {% endif %}
                    <li><a href="/pizzashop/auth/logout/">Log out</a></li>
                {% endif %}
                </ul>
            </nav><!--end of nav-->
            <div class="row">
                <form class="form-horizontal" role="form" method="post" action="/pizzashop/order/placeorder/">
                    <div class="panel panel-default">
                        <div class="panel-heading">Leveringsopties</div>
                        <div class="well">
                            <div class="form-group">
                                <input type="radio" name="delivery" id="pickup" value="pickup" required selected>
                                <label for="pickup">Afhalen</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="delivery" id="deliver" value="deliver" required {% if cart.candeliver == false %}disabled{% endif %}>
                                <label for="deliver">Thuis leveren (leveringkost = {{cart.deliverycost}})</label>
                                {% if cart.candeliver == false %}Thuislevering niet mogelijk voor uw adres{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="well clearfix">
                        {% if cart is defined and cart.items is not empty %}
                            <input type="submit" class="btn btn-default" value="Bestelling plaatsen">
                        {% endif %}
                    </div>
                </form>
            </div><!--end of content-->
        </div><!--end of container-->
    </body>
</html>
