<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/pizzashop/public/css/bootstrap.min.css">
        <script src="/pizzashop/public/css/bootstrap.min.css"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default row">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/pizzashop/menu/showall/">Menu</a></li>
                    {% if session.user is defined %}
                    <li><a href="pizzashop/customer/order/"></a></li>
                    {% endif %}
                    <li><a href="#">Bestel</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if session.user is not defined %}
                    <li><a href="/pizzashop/auth/go/">Log in</a></li>
                {% else %}
                    {% if session.user.admin == 1 %}
                    <li><a href="/pizzashop/admin/go/">Beheer</a></li>
                    {% endif %}
                    <li><a href="/pizzashop/auth/logout/">Log out</a></li>
                {% endif %}
                </ul>
            </nav><!--end of nav-->
            <div class="row">
                <section>
                    
                </section>
            </div><!--end of content-->
        </div><!--end of container-->
    </body>
</html>
