<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/pizzashop/public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/pizzashop/products/viewall/">Productlijst</a></li>
                    <li><a href="#">Bestel</a></li>
                </ul>
                {% if session.user is not defined %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/pizzashop/auth/go/">Log in</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/pizzashop/auth/logout/">Log out</a></li>
                </ul>
                {% endif %}
            </nav><!--end of nav-->
            <div class="row">
                <section>
                    
                </section>
            </div><!--end of content-->
        </div><!--end of container-->
    </body>
</html>
