<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/pizzashop/public/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default row">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/pizzashop/home/go/">Home</a></li>
                    <li><a href="/pizzashop/menu/showall/">Menu</a></li>
                    {% if session.user is defined %}
                        <li><a href="/pizzashop/order/go/">Bestel</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if session.user is not defined %}
                    <li><a href="/pizzashop/auth/go/">Log in</a></li>
                {% else %}
                    {% if session.user.admin == 1 %}
                    <li><a href="/pizzashop/admin/go/">Beheer</a></li>
                    {% endif %}
                    <li><a href="/pizzashop/auth/logout/">Log out</a></li>
                {% endif %}
                </ul>
            </nav><!--end of nav-->
            <div class="row">
                <div class="well">
                    <a class="btn btn-default" href="/pizzashop/menu/show/pizza">Toon pizza's</a>
                    <a class="btn btn-default" href="/pizzashop/menu/show/drank">Toon drank</a>
                    <a class="btn btn-default" href="/pizzashop/menu/showall/">Toon alles</a>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Artikellijst</div>
                    <table class="table">
                        <thead>
                            <tr class="active">
                                <td></td>
                                <td>Naam</td>
                                <td>Omschrijving</td>
                                <td>Prijs</td>
                                <td>Promotie</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td><img src="{{ article.image }}"></a></td>
                                    <td>{{ article.name }}</td>
                                    <td>{{ article.description }}</td>
                                    <td>{{ article.cost }}</td>
                                    <td>{% if article.promo_status == 1 %} PROMOTIE {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end of panel-->
            </div><!--end of content-->
        </div><!--end of container-->
    </body>
</html>
