{%extends "template/tmpl_public.twig"%}

{%block title%}Pizzashop - Menu{%endblock%}
{%block content%}
<div class="well">
    <a class="btn btn-default" href="/pizzashop/menu/show/pizza">Toon pizza's</a>
    <a class="btn btn-default" href="/pizzashop/menu/show/drank">Toon drank</a>
    <a class="btn btn-default" href="/pizzashop/menu/showtoppings/">Toon extra toppings</a>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Toppinglijst</div>
    <table class="table">
        <thead>
            <tr class="active">
                <td>Naam</td>
                <td>Prijs</td>
            </tr>
        </thead>
        <tbody>
            {% for topping in toppings %}
                <tr>
                    <td>{{ topping.name }}</td>
                    <td>{{ topping.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div><!--end of panel-->
{%endblock%}